@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html,
body {

    font-family: "Roboto", sans-serif;
}

/* admin start */
.admin-header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #fff;
    z-index: 100;
    padding-right: 15px;
  }
  .admin-header .top-header-container {
    width: 100%;
  }
  .admin-header .top-header-container .top-header-inner-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .admin-header .top-header-container .top-header-inner-content .admin-header-logo h3 {
    background-color: #fff;
    padding: 10px;
    width: 250px;
    color: #000;
    font-size: 20px;
    text-align: center;
    font-weight: 900;
  }
  .admin-header .top-header-container .top-header-inner-content .top-header-right-sidebar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .admin-header .top-header-container .top-header-inner-content .top-header-right-sidebar .humberger-menu-icon button {
    border: none;
    cursor: pointer;
  }
  .admin-header .top-header-container .top-header-inner-content .top-header-right-sidebar .top-header-action ul li {
    display: inline-block;
    margin-right: 20px;
  }
  .admin-header .top-header-container .top-header-inner-content .top-header-right-sidebar .top-header-action ul li svg {
    height: 22px !important;
  }
  .admin-header .top-header-container .top-header-inner-content .top-header-right-sidebar .top-header-action ul li:last-child {
    margin-right: 0;
  }
  .admin-header .top-header-container .top-header-inner-content .top-header-right-sidebar .top-header-action ul li .search-optin {
    position: relative;
  }
  .admin-header .top-header-container .top-header-inner-content .top-header-right-sidebar .top-header-action ul li .search-optin .search-field input {
    padding: 6px 10px;
    border-radius: 4px;
    background: #d2ebe8;
    color: #000;
  }
  .admin-header .top-header-container .top-header-inner-content .top-header-right-sidebar .top-header-action ul li .search-optin .search-button {
    position: absolute;
    transform: translateY(-50%);
    position: absolute;
    right: 10px;
    top: 50%;
  }
  .admin-header .top-header-container .top-header-inner-content .top-header-right-sidebar .top-header-action ul .avatar {
    background: #e5e0e0;
    height: 40px;
    width: 40px;
    border-radius: 100%;
  }
  .admin-sidebar .ps-sidebar-root {
    background-color: #222d32;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    margin-top: 55px;
    border: none;
  }
  .admin-sidebar .ps-menu-button:hover {
    background-color: #cfcfcf !important;
  }
  .admin-sidebar .menu-title {
    margin-left: 22px !important;
    color: #b1b1b1;
    font-size: 16px;
  }
  .admin-sidebar .css-dip3t8 {
    background-color: #fff !important;
  }
  .admin-sidebar .css-wx7wi4 {
    color: black !important;
  }
  .admin-sidebar .ps-menuitem-root {
    color: #fff;
  }
  .admin-sidebar .ps-menuitem-root a:hover {
    color: #fff;
  }
  .admin-sidebar .ps-submenu-root {
    color: #111010;
  }
  .admin-sidebar .css-16jesut > .ps-menu-button:hover {
    background-color: #515455;
    color: black;
  }
  .admin-sidebar .ps-submenu-content {
    background-color: #fff !important;
  }
  .admin-sidebar .ps-submenu-content:hover {
    background-color: #b6c0c4 !important;
  }
  .admin-sidebar .css-1tqrhto > .ps-menu-button:hover {
    background-color: #505050 !important;
  }
  .admin-sidebar .ps-submenu-content .ps-menuitem-root .ps-menu-button {
    height: inherit !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
  }
  .admin-sidebar .ps-submenu-content .ps-menu-label {
    position: relative;
    padding-left: 27px;
  }
  .admin-sidebar .ps-submenu-content .ps-menu-label:before {
    content: "";
    position: absolute;
    left: 8px;
    top: 50%;
    transform: translateY(-50%);
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: #28a0f7;
  }
  .admin-sidebar .teletalk-logo-content {
    display: flex;
    align-items: center;
    background: #222d31;
    width: 100%;
    margin: auto;
    padding: 30px 20px;
    transition: all 0.3s linear;
  }
  .admin-sidebar .teletalk-logo-content .logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 18px;
    transition: all 0.3s linear;
  }
  .admin-sidebar .teletalk-logo-content .logo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }
  .admin-sidebar .teletalk-logo-content .short-logo {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    flex-shrink: 0;
    transition: all 0.3s linear;
  }
  .admin-sidebar .teletalk-logo-content .short-logo img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }
  .admin-sidebar .teletalk-logo-content .text-content {
    transition: all 0.3s linear;
  }
  .admin-sidebar .teletalk-logo-content .text-content span {
    display: inline-block;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
  }
  .css-1654oxy > .ps-menu-button:hover {
    background-color: #efefef !important;
  }
  .svg-bold {
    font-size: 25px;
    fill: #fff;
  }
  .svg-semi-bold {
    font-size: 20px;
    fill: #fff;
  }
  .ps-sidebar-container::-webkit-scrollbar {
    display: none !important;
  }
  .admin-main-content {
    margin-left: 250px;
    background-color: #eff2f4;
    margin-top: 83px;
    transition: all 0.3s linear;
    padding: 10px 10px 10px 10px;
  }
  .short-admin-main-content {
    margin-left: 79px;
    background-color: #eff2f4;
    margin-top: 60px;
    transition: all 0.3s linear;
    padding: 30px 15px;
  }
  .admin-container {
    padding: 0 15px;
  }
  .admin-sidebar .ps-menu-root {
    margin-top: 30px;
  }
  .admin-sidebar .ps-menu-root ul li a {
    display: flex;
    width: 100%;
    color: #000;
  }
  
  /* admin end */

  .min-screen-height {
    min-height: 85vh;
}

.carosol-bg-one{
background-image: url("https://i.ibb.co/27q4Q3x/pexels-tu-n-ki-t-jr-1308881.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}


.carosol-bg-two{
  background-image: url("https://i.ibb.co/djhMr46/7d2fe3e4-0b36-4d0c-9fd2-8df024098b77.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  }

  .carosol-bg-three{
    background-image: url("https://paikaree.com.bd/public/uploads/subsubcategories/banner/ySOrcUk3fdAaU1I48qwOGFr3B7YmVfislnUn1CEZ.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }





    
